.doyenhub{
  color: #1F7EDC;
}
.section p{
  color: #8e8e8e;
  line-height: 1.5
}
.fas{
  color: #1F7EDC;
}
.list{
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
}
.items-dhn{
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
}
.items-dhn ul li{
  list-style-type: none;
  color: #525252;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
  padding-left: 20px;
}
.know-more{
  padding: 26px 65px;
  background-color: #0af;
}
.green-btn{
  background: #0af;
  color: #fff;
  border: none;
  font-weight: bold;
  margin-top: 10px;
  padding: 16px 65px;
}
